[submodule "contrib/ActionBarSherlock"]
	path = contrib/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
	ignore = untracked
[submodule "contrib/SlidingMenu"]
	path = contrib/SlidingMenu
	url = https://github.com/jfeinstein10/SlidingMenu.git
	ignore = untracked
[submodule "contrib/ViewPagerIndicator"]
	path = contrib/ViewPagerIndicator
	url = https://github.com/JakeWharton/Android-ViewPagerIndicator.git
	ignore = untracked
